.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding-left: 23px;
  padding-right: 8px;


  @media (max-width: $desktop-width) {
    padding-left: 50px;
    padding-right: 32px;
    max-width: 1220px;
  }

  @media (max-width: $tablet-width) {
    padding: 0 25px;
    max-width: none;
  }
}
